body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

h1,h2,h3,p,a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blueviolet;
}

header{
    display: flex;
    justify-content: space-between;
}

.flow{
    padding-left: 20px;
    font-size: large;
    color: rgb(11, 197, 26);
}

nav{
    display: flex;
    align-items: center;
    padding: 20px;
}

.escu{
    padding-right: 20px;
}

.audio{
    display: flex;
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image : linear-gradient(
        0deg,    
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/bad-gyal-flow-2000-nuevo-single-videoclip-01.jpg);
    background-size: contain;
}

.tumami{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tumami h1{
    font-size: 5em;
    color: white;
}

.letra{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container h1{
    display: flex;
    justify-content: center;
}

.vivala{
    display: flex;
    justify-content: space-between;
}
